@use "../../styles/variables" as *;
@use '../../styles/mixins' as *;

.errorContainer {
    width: 100%;
    height: 60vh;
    gap: 12px;
    text-align: center;
	@include flex-center;
	@include flex-column;

    .errorIcon {
        width: 60px;
        height: 60px;
        background: $color-05;
        color: $color-accent;
        border-radius: 50%;
        font-size: 32px;
        font-weight: 600;
		@include flex-center;
    }

    h3 {
        font-size: 24px;
        color: $color-01;
    }

    p {
        color: $color-02;
        max-width: 300px;
    }

    .retryBtn {
        margin-top: 10px;
        font-weight: 600;
		padding: 12px 42px;
		border-radius: 50px;
        background: $color-01;
        color: $color-06;

		&:hover {
			color: $color-02;
			background-color: $color-05;
		}
    }
}
