@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.userCard {
	display: flex;
	gap: 20px;
	background: $color-06;
	padding: 24px;
	border-radius: 8px;
	position: relative;

	.userImg {
		width: 112px;
		height: 120px;

		@include xs {
			width: 130px;
			width: 120px;
		}

		&.archivedImg {
			filter: saturate(0);
		}
	}

	.userInfo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		
		.userInfoTop {
			display: flex;
			flex-direction: column;
			gap: 4px;
			
			.userNameButton {
				display: flex;
				justify-content: space-between;
				align-items: start;
			
				h3 {
					font-size: 20px;
					font-weight: 600;
					color: $color-accent;
					max-width: 140px;
					overflow-wrap: break-word;
					hyphens: auto;

					@include lg {
						max-width: 100px;
					}

					@include sm {
						font-size: 18px;
						max-width: 85px;
					}

					@include xs {
						max-width: 100px;
					}

					&.archivedUserName {
						color: $color-02;
					}
				}
			}
	
			p {
				color: $color-02;
				font-weight: 500;
				max-width: 140px;
				overflow-wrap: break-word;

				@include sm {
					max-width: 85px;
					font-size: 14px;
				}

				@include xs {
					max-width: 100px;
				}

				&.archivedCompany {
					color: $color-03;
				}
			}
		}
	
		span {
			font-size: 14px;
			color: $color-03;

			@include sm {
				font-size: 10px;
			}

			&.archivedAddress {
				color: $color-04;
			}
		}

		@include sm {
			gap: 12px;
			height: 100%;
		}
	}

	.actionContainer {
		width: 200px;
		padding: 8px;
		background-color: $color-06;
		border-radius: 12px;
		box-shadow: 0 0 2px #5A5A5A;
		position: absolute;
		top: 0;
		right: 0;

		.actionButtons {
			display: flex;
			flex-direction: column;
			gap: 8px;
			
			button {
				padding: 8px 12px;
				text-align: left;
				font-weight: 500;

				@include xs {
					font-size: 14px;
				}
			}
		}

		@include xs {
			width: 160px;
		}
	}

	@include sm {
		flex-direction: column;
		padding: 16px;
	}
}